<!-- Main -->
<div id="main">

<!-- Header -->
    <header id="header">
        <h1>Lens</h1>
        <p>Just another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
        <ul class="icons">

            <li><%= link_to("#", class: "icon brands fa-twitter") do %><span class="label">Twitter</span><% end %></li>
            <li><%= link_to("#", class: "icon brands fa-instagram") do %><span class="label">Instagram</span><% end %></li>
            <li><%= link_to("#", class: "icon brands fa-github") do %><span class="label">Github</span><% end %></li>
            <li><%= link_to("#", class: "icon fa-envelope") do %><span class="label">Email</span><% end %></li>
            
            
        </ul>
    </header>

    <!-- Thumbnail -->
    <section id="thumbnails">
        <article>
            <%= link_to(image_tag(image_path("thumbs/01.jpg"), alt: ""), image_path("fulls/01.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            


            <h2>Diam tempus accumsan</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/02.jpg"), alt: ""), image_path("fulls/02.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Vivamus convallis libero</h2>
            <p>Sed velit lacus, laoreet at venenatis convallis in lorem tincidunt.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/03.jpg"), alt: ""), image_path("fulls/03.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Nec accumsan enim felis</h2>
            <p>Maecenas eleifend tellus ut turpis eleifend, vitae pretium faucibus.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/04.jpg"), alt: ""), image_path("fulls/04.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Donec maximus nisi eget</h2>
            <p>Tristique in nulla vel congue. Sed sociis natoque parturient nascetur.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/05.jpg"), alt: ""), image_path("fulls/05.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Nullam vitae nunc vulputate</h2>
            <p>In pellentesque cursus velit id posuere. Donec vehicula nulla.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/06.jpg"), alt: ""), image_path("fulls/06.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Phasellus magna faucibus</h2>
            <p>Nulla dignissim libero maximus tellus varius dictum ut posuere magna.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/07.jpg"), alt: ""), image_path("fulls/07.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Proin quis mauris</h2>
            <p>Etiam ultricies, lorem quis efficitur porttitor, facilisis ante orci urna.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/08.jpg"), alt: ""), image_path("fulls/08.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Gravida quis varius enim</h2>
            <p>Nunc egestas congue lorem. Nullam dictum placerat ex sapien tortor mattis.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/09.jpg"), alt: ""), image_path("fulls/09.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Morbi eget vitae adipiscing</h2>
            <p>In quis vulputate dui. Maecenas metus elit, dictum praesent lacinia lacus.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/10.jpg"), alt: ""), image_path("fulls/10.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Habitant tristique senectus</h2>
            <p>Vestibulum ante ipsum primis in faucibus orci luctus ac tincidunt dolor.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/11.jpg"), alt: ""), image_path("fulls/11.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Pharetra ex non faucibus</h2>
            <p>Ut sed magna euismod leo laoreet congue. Fusce congue enim ultricies.</p>
        </article>
        <article>
            <%= link_to(image_tag(image_path("thumbs/12.jpg"), alt: ""), image_path("fulls/12.jpg"), class: "thumbnail", data: { position: "left center" }) %>
            <h2>Mattis lorem sodales</h2>
            <p>Feugiat auctor leo massa, nec vestibulum nisl erat faucibus, rutrum nulla.</p>
        </article>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <ul class="copyright">
            <li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
        </ul>
    </footer>

</div>

